@import 'settings';
@import 'functions';

@mixin container($gutters: true) {
    width: 100%;

    @if $gutters == true {
        padding-left: $gutters-side-width;
        padding-right: $gutters-side-width;
    }

    margin-left: auto;
    margin-right: auto;

    @if $mobile-first == true {
        @each $id, $breakpoint, $width in $breakpoints {          
            @include media($width) {
                max-width: $width - $gutters-width;
            }
        }
    } @else {
        max-width: $breakpoint-width-xl;      

        @each $id, $breakpoint, $width in $breakpoints {

            @include media($width) {
                @if $breakpoint != sm and $breakpoints != xl {
                    $width: map-get($breakpoints, $id - 1);
                    max-width: $width - $gutters-width;
                }
            }
        }
    }
}