@import 'settings';

/**
 * Сalculates column width
 */
@function column-width($number-of-columns: $max-number-of-columns, $gutters: true) {
    $width: 100%;

    @if $number-of-columns < $max-number-of-columns {
        $width: 100% / $max-number-of-columns * $number-of-columns;
    }

    @if $gutters == true and $gutters-type == margin {
        @return calc(#{$width} - #{$gutters-width});
    }

    @return $width;
}

/**
 * Defines the logic of the media query
 */
@function media-logic($point) {
    $media-width: $point;

    @each $breakpoint, $width in $breakpoints {
        @if $breakpoint == $point {
            $media-width: $width;
        }
    }

    @if $mobile-first == true {
        @return screen and (min-width: $media-width);
    }

    @return screen and (max-width: $media-width);
}
