@import 'variables';

/**
 * Сalculates column width
 */
@function column-width($number-of-columns: $max-number-of-columns, $no-gutters: false) {
    @if $no-gutters == false {
        $column-width: calc(100% - #{$gutter-width});
        @if $number-of-columns < $max-number-of-columns {
            $column-width: calc(100% / #{$number-of-columns} - #{$gutter-width});
        }
        
        @return $column-width;
    }
    
    $column-width: 100%;
    @if $number-of-columns < $max-number-of-columns {
        $column-width: calc(100% / #{$number-of-columns});
    }
    
    @return $column-width;
}

/**
 * Defines the logic of the media query
 */
@function media-logic($breakpoin) {
    @if $mobile-first == true {
        @return screen and (min-width: $breakpoin);
    }

    @return screen and (max-width: $breakpoin);
}