@import 'settings';

@mixin row($gutters: true) {
    @if $gutters == true {
        margin-right: $gutters-side-width * -1;
        margin-left: $gutters-side-width * -1;
    }

    display: flex;
    flex-wrap: wrap;
}