@import 'grid/index';

$gutters-type: margin; // default parameter
$mobile-first: true; // default parameter

@include normalize;

.container {
    @include container;
}

// .container {
//     @include container($fluid: true);
// }

.row {
    @include row;
    justify-content: center;
    @include media(xl) {
        justify-content: unset;
    }
}

.item {
    @include column() {
        @include column-of(12);
        @include column-of(9, sm);
        @include column-of(6, md);
        @include column-of(4, lg);
        @include column-of(3, xl);
    }
}

// no gutters
// .item {
//     background-color: lime;
//     @include column(false) {
//         @include column-of(12, false, false);
//         @include column-of(9, sm, false);
//         @include column-of(6, md, false);
//         @include column-of(4, lg, false);
//         @include column-of(3, xl, false);
//     }
// }

// media content
// .item {
//     background-color: lime;
//     @include column() {
//         @include column-of(12);

//         @include column-of(9, sm) {
//             background-color: limegreen;
//         }
//         @include column-of(6, md) {
//             background-color: green;
//         }
//         @include column-of(4, lg) {
//             background-color: tomato;
//         }
//         @include column-of(3, xl) {
//             background-color: red;
//         }
//     }
// }

// $gutters-type: padding;
// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }

// $mobile-first: false;
// .row {
//     @include row;
//     @include media(xl) {
//         justify-content: center;
//     }
// }

// .item {
//     background-color: lime;
//     @include column() {
//         @include column-of(3) {
//             // media content
//             background-color: limegreen;
//         }
//         @include column-of(4, xl) {
//             // media content
//             background-color: green;
//         }
//         @include column-of(6, lg) {
//             // media content
//             background-color: tomato;
//         }
//         @include column-of(9, md) {
//             // media content
//             background-color: red;
//         }
//         @include column-of(12, sm) {
//             // media content
//         }
//     }
// }
