@import 'settings';
@import 'functions';
@import 'media-queries';

@mixin column($gutters: true) {
    @if $gutters==true {
        #{$gutters-type}-left: $gutters-side-width;
        #{$gutters-type}-right: $gutters-side-width;
    }

    min-height: 1px;
    @content;
}

@mixin size-auto($breakpoint: false) {
    @if $breakpoint==false {
        width: auto;
        flex-basis: auto;
        max-width: none;
    }

    @else {
        @include media($breakpoint) {
            width: auto;
            flex-basis: auto;
            max-width: none;
            @content;
        }
    }
}

@mixin size-grow($breakpoint: false) {
    @if $breakpoint==false {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    @else {
        @include media($breakpoint) {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 100%;
            @content;
        }
    }
}

@mixin size-of($number-of-columns: $max-number-of-columns, $breakpoint: false, $gutters: true) {
    @if $breakpoint==false or $breakpoint==null {
        max-width: column-width($number-of-columns, $gutters);
        flex-basis: column-width($number-of-columns, $gutters);
        flex-grow: 0;
    }

    @else {
        @include media($breakpoint) {
            max-width: column-width($number-of-columns, $gutters);
            flex-basis: column-width($number-of-columns, $gutters);
            flex-grow: 0;
            @content;
        }
    }
}