@import 'settings';

@mixin row($gutters: true) {
    @if $gutters == true {
        margin-right: $gutters-side-width * -1;
        margin-left: $gutters-side-width * -1;
    }

    display: flex;
    flex-wrap: wrap;
}

@mixin make-row {
    .#{map-get($classnames, row)} {
        @include row;

        &#{map-get($classnames, separator)}#{map-get($classnames, no-gutters)} {
            margin-left: 0;
            margin-right: 0;
    
            &>.#{map-get($classnames, column)} {
                #{$gutters-type}-left: 0;
                #{$gutters-type}-right: 0;
            }
        }
    }
}