$mobile-first: false;

$gutters-type: margin;
$gutters-width: 30px;
$gutters-side-width: $gutters-width / 2;
$max-number-of-columns: 12;

$breakpoints: (
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px
);
$breakpoint-max: map-get($breakpoints, xl);

$classnames: (
    container: 'container',
    full-width: 'full-width',
    row: 'row',
    no-gutters: 'no-gutters',
    column: 'column',
    separator: '--'
);
